/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Oswald:wght@300;400;600&family=Playpen+Sans:wght@300;400;600&display=swap');


/*asterisk wildcard selector used to override default styles added by the browser*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #1a1a1a;
    font-family: oswald, sans-serif;
}

/* header */
header {
    background-color: rgb(5, 151, 5);
    font-family: agbalumo, serif;
}

/*main content */
main {
    background-color: aqua;
    /* Make main take up any surplus space */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: brown;
}