/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=Playpen+Sans:wght@300;400;600&display=swap');

/*asterisk wildcard selector used to override default styles added by the browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #1a1a1a;
    font-family: montserrat, sans-serif;
}

h1, h2, h3 {
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
}

.field {
    display: flex;
    justify-content: flex-end;
    width: 200px;
}

.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.brown {
    color: brown;
}

.hotpink {
    color: hotpink;
}

.lawngreen {
    color: lawngreen;
}

.deepskyblue {
    color: deepskyblue;
}

.sandybrown {
    color: sandybrown;
}

li {
    padding-bottom: 10px;
}

/* header */
header {
    background-color: #238901;
    font-family: agbalumo, serif;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px rgb(5, 80, 5);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

header > a {
    text-decoration: none;
}

h1 {
    letter-spacing: 2px;
    text-transform: uppercase;
}

nav a {
    list-style: none;
}

#menu {
    font-size: 125%;
    list-style-type: none;
    letter-spacing: 1px;
}

#menu > li {
    margin-bottom: 1em;
}

#menu a {
    color: #ffffff;
    text-decoration: none;
}

.active {
    border-bottom: 2px solid #ffffff;
}

/* Navbar styles with dropdown toggle */

nav {
    position: absolute;
    background-color: #238901;
    width: 100%;
    padding: 0 1rem;
    box-shadow: 0 2px 2px rgb(5, 80, 5);
    display: none;
    top:100%;
}


/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display:none;
}

.nav-toggle-label {
    font-size: 3rem;
    color: #ffffff;
}


/*main content */
main {
    /* Make main take up any surplus space */
    flex: 1 0 auto;
    margin-top: 141px;
}

/* reasons section style */
#reasons {
    height: 400px;
    width: 100%;
    background: url(../images/snooker-cue-and-balls.jpg) no-repeat center center/cover;
    position: relative;
}

#cover-text {
    background-color: rgba(40, 137, 1, 0.5);
    font-size: 120%;
    position: absolute;
    top: 45px;
    width: 80%;
    min-height: 200px;
    padding-top: 15px;
    padding-left: 10px;
    border-radius: 15px;
}

#first {
    color:gold;
    text-transform: lowercase;
}

#ordinal {
    text-transform: lowercase;
}

hr {
    border-top: 1px solid black;
    margin: 5px 0;
    height: 2px;
}

/* about section */

#about, #health {
    background-color: #e6dedea6;
}

.about-section, .about-section>h3 {
    color: #1a1a1a;
    text-align: center;
    font-weight: bold;
    padding: 5px 10px;
}

#coordination {
    background-color: #c9c7c7;
}

.point1 {
    color: red;
    font-size: 120%;
}

.point2 {
    color: green;
    font-size: 120%;
}

.point3 {
    color: rgb(26, 26, 231);
    font-size: 120%;
}

.fit-picture {
    width: 40px;
}

/* Payment section */

table, td {
    border: 1px solid black;
}

thead, tfoot {
    background-color: #238901;
    color:#ffffff;
}

/* contact info */

#contact-info {
    background-color: #1a1a1a;
}

#contact-header {
    font-size: 170%;
    padding: 10px 0;
}

.text-center {
    text-align: center;
}

.stand-out {
    font-weight: bold;
    font-size: 120%;
}

.info {
    border: 1px dotted #1a1a1a;
}

/* map of location */

iframe {
    height: 100%;
    width: 100%;
}


/* Bookings */

#snooker-hall {
    height: 100%;
    width: 100%;
    background: url(../images/snooker-hall.jpg) no-repeat center center/cover;
    position: static;
}

.container {
    background-color: #ffffff;
    font-size: 130%;
    max-width: 600px;
    padding: 15px;
    margin: 50px auto;
}

.booking-heading {
    color: black;
    padding-top: 20px;
    padding-left: 10px;
}

.container-times>p {
    font-weight: bold;
}

.fit-picture2 {
    width: 220px;
}

.booking-data {
    margin-top: 15px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book {
    border: 5px double #238901;
    margin-bottom: 15px;
    font-style: oblique;
    padding: 2px 5px;
}

label {
    display: block;
    margin-bottom: 8px;
}

#data-info input {
    padding: 10px;
    margin-bottom: 15px;
}


#table-type input {
    margin: 0.3rem;
}

#book-button, #cancel {
    padding: 0 20px;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    border-radius: 10px;
    text-shadow: 1px 1px 1px #1a1a1a;
    margin-bottom: 10px;
}

#book-button {
    font-size: 1.5rem;
    color: #ffffff;
    background-color: #238901;
}

#book-button:hover {
    background-color: rgb(5, 211, 5);
}

#cancel {
    font-size: 1.2rem;
    color: #000;
    background-color: rgb(160, 159, 159);
}


/* Kid's club */
#kids-club {
    height: 400px;
    width: 100%;
    background: url(../images/white-and-reds-big.jpg) no-repeat center center/cover;
    position: relative;
}

#kids-cover-text {
    background-color: rgba(40, 137, 1, 0.5);
    font-size: 180%;
    position: absolute;
    top: 85px;
    width: 80%;
    min-height: 200px;
    padding-top: 15px;
    padding-left: 10px;
    border-radius: 15px;
}

#kids-cover-text>h3 {
    font-family: 'Playpen Sans', sans-serif;
    text-transform: capitalize;
    letter-spacing: 0;


}

#coach {
    margin-top: 10px;
    height: auto;
}

iframe {
    height: 200px;
}

#coach-intro {
    border: 2px solid #238901;
    margin: 5px 10px;
    padding: 8px;
}

#coach-intro>h3, #kid-hours, #kid-days {
    font-family: 'Playpen Sans', sans-serif;
    text-transform: capitalize;
    color: #1a1a1a;
    letter-spacing: 0;
}

#coach-intro>h3, #kid-hours {
    font-size: 180%;
}

#kid-days {
    font-size: 130%;

}

#coach-intro>p {
    font-size: 1.3rem;
    margin: 20px auto;
}

#form-box {
    margin: 20px 5px 50px 5px;
}

#center {
    font-size: large;
    font-weight: bold;
}


/* Footer */
footer {
    background-color: black;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 200%;
    padding: 5%;
}

a {
    color: #ffffff;
}

a:hover {
    color:rgb(2, 167, 2);
}

footer p {
    color: #cccccc;
    display: flex;
    justify-content: center;
    font-size: 70%;
}

/* Media query for mobile S and larger (320+) */

@media screen and (min-width:320px) {
    /*  main */
    main {
        margin-top: 94px;
    }

    .field {
        width: 250px;
    }
}

/* Media query for tablets and larger (768+) */

@media screen and (min-width:768px) {
/*  header */    
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 250%;
        margin: 0 0.5rem;
    }
/* main */
    main {
        margin-top: 118px;
    }

    #cover-text {
        width: 350px;
        left: 70px;
        top: 200px;
        font-size: 140%;
    }

    th, td {
        font-size: 150%;
    }

    #kids-cover-text {
        width: 350px;
        left: 70px;
        top: 200px;
        font-size: 140%;
        min-height: 150px;
    }

    iframe, #kid-snooker {
        height: 350px;
    }

    #kid-snooker {
        width: 600px;
    }
}

/* larger devices, laptops and desktops (992+) */
@media screen and (min-width:992px) {
    #menu a:hover {
        border-bottom: 2px solid #ffffff;
    }

    /* main  */
    main {
        margin-top: 59px;
    }

    #cover-text {
        width: 450px;
        font-size: 170%;
    }

    #table {
        display: flex;
        justify-content: center;
    }

    #coach {
        display: flex;
    }

    #coach-intro>h3, #coach-intro>p {
        padding: 20px 10px;
    }

    #coach-intro>p {
        font-size: 1.5rem;
    }

    #kid-snooker {
        margin-top: 50px;
    }

    #form-box {
        display: flex;
        justify-content: center;
    }

    #center {
        margin-left: 400px;
        font-size: large;
        font-weight: bold;
    }

    #kid-hours {
        font-size: 230%;
    }
    
    #kid-days {
        font-size: 170%;
    }

    #kid-form {
        width: 600px;
    }
}